h1 {
background-color: #EA5169;
text-align: center;

}

h2 {
background-color: #EA5169;
text-align: center;

}

li {
list-style-type: none;
text-align: center;

}

ul {

display: block;
flex-direction: row;

}

.search {
 float: right;

}

img {

border: 5px solid #EA5169;
border-radius: 50%;

}

.footer {

  background-color: pink;
}
