h1 {
background-color: #EA5169;
text-align: center;

}

h2 {
background-color: #EA5169;
text-align: center;

}

li {
list-style-type: none;
text-align: center;

}


#navbar {
display: flex;
=======
ul {

display: block;
>>>>>>> parent of e7caed9... Updated background image for body
flex-direction: row;
justify-content: space-around;
margin-left: 50px;
}

#navbar:nth-child(2) {
float: left;
margin-left: 100px;
}

#navbar{
background-color: rgb(85, 130, 69);
}

.search {
 float: right;

}

img {

border: 5px solid #EA5169;
border-radius: 50%;

}

.footer {

  background-color: pink;
}
