h1 {
background-color: #EA5169;
text-align: center;

}

h2 {
background-color: #EA5169;
text-align: center;

}

li {
list-style-type: none;
text-align: center;

}

#navbar {

display: block;
flex-direction: row;

}

.search {
 float: right;

}

img {

border: 5px solid #EA5169;
border-radius: 50%;

}

.footer {

  background-color: pink;
  text-align: center;
  height: 80px;
  width: 100%;
}

body {
  background-image: url('https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/2018-12/10889-The_Watermelon_Diet_Fact_or_Fiction-_1296x728-header.jpg?w=1155');
}
